.headline {
    min-height: 30vh;
    background-color: #eee;
}
.search-box input{
    padding: 5px 10px 5px 50px;
    border-radius: 2px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    border-color: transparent;
    width: 30vw;
    height: 4vh;
    font-size: 14px;
}
.search-box input:focus {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.30);
    outline: none;
}
.search-icon{
    position: relative;
    left: 45px;
    top: 1px;
}
.grid-image{
    background-size: cover;
}