<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500px Viewer</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="css/app.css">
    <!-- endinject -->
</head>
<body ng-app="app">
    <div ng-controller="ProfileController as vm">

        <form novalidate="">
            <input type="text" ng-model="vm.username" required="">
            <input type="submit" ng-click="vm.search(vm.username)">
        </form>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
    <!-- inject:js -->
    <script src="env.js"></script>
    <script src="js/app.module.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/500px/APIServices.js"></script>
    <script src="js/500px/ProfileController.js"></script>
    <!-- endinject -->
</body>
</html>